body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #000;
  color: #fff;
}

.App {
  /* max-width: 1200px; */
  margin: 0 auto;
}

.carousel .slide {
  background: none;
  text-align: center;
}

.carousel .legend {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  font-size: 1rem;
}

#contact {
  scroll-behavior: smooth;
}